<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
  <tr>
    <th class="<%= column_class("title") %>">Title<%= sortable("title", "sort",) %></th>
    <th class="<%= column_class("rating") %>">Rating<%= sortable("rating", "sort",) %></th>
    <th class="<%= column_class("release_date") %>">Release Date<%= sortable("release_date", "sort", ) %></th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.rating %></td>
      <td><%= movie.release_date %></td>
      <td><%= link_to "Show", movie %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path %>

