<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<table id="movies">
  <thead>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.director %></td>
      <td><%= movie.release_date %></td>
      <td><%= link_to "Show", movie %></td>
    </tr>
  </thead>
  <% end %>
</table>

<%= link_to "New movie", new_movie_path %>
